<font size=4>**创建一个人工数据集，并存储在csv文件**</font>

In [3]:
import os 

os.makedirs(os.path.join('.', 'data'), exist_ok=True)
data_file = os.path.join('.', 'data', 'house_tiny.csv')
with open(data_file, 'w') as f:
    f.write('NumRooms,Alley,Price\n')  # 列名
    f.write('NA,Pave,127500\n')  # 每行表示一个数据样本
    f.write('2,NA,106000\n')
    f.write('4,NA,178100\n')
    f.write('NA,NA,140000\n')

In [4]:
import pandas as pd 

data = pd.read_csv(data_file)
data

   NumRooms Alley   Price
0       NaN  Pave  127500
1       2.0   NaN  106000
2       4.0   NaN  178100
3       NaN   NaN  140000

<br></br>
<font size=4>**为了处理缺失的数据，典型的方法包括插值和删除，删除数据过于可惜。所以尽量考虑插值**</font>

In [6]:
inputs, outputs = data.iloc[:, 0:2], data.iloc[:, 2]
inputs = inputs.fillna(inputs.mean())
print(inputs)

   NumRooms Alley
0       3.0  Pave
1       2.0   NaN
2       4.0   NaN
3       3.0   NaN

<br></br>
<font size=4>对于inputs中的类别值或离散值， 我们将“NaN”视为一个类别</font>

In [7]:
inputs = pd.get_dummies(inputs, dummy_na=True)
inputs

   NumRooms  Alley_Pave  Alley_nan
0       3.0           1          0
1       2.0           0          1
2       4.0           0          1
3       3.0           0          1

In [9]:
import torch
# df.values得到的是numpy的数组， 对于深度学习来讲64位浮点数计算比较慢， 所以常用32位
x, y = torch.tensor(inputs.values, dtype=torch.float32), torch.tensor(outputs.values)
x, y

<class 'numpy.ndarray'>

(tensor([[3., 1., 0.],
         [2., 0., 1.],
         [4., 0., 1.],
         [3., 0., 1.]], dtype=torch.float64),
 tensor([127500, 106000, 178100, 140000]))